{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<style>
		img {
			float:left
		}
	</style>
	<body id="forum">
	{% for data in forum reversed %}
		<img src="https://forum.tudiabetes.org/uploads/default/original/3X/3/5/35d47232d1d9cb26dcd2a226952f98137a9080c8.jpg" width=50px height=50px></img>
		<p id="postingan">{{data.content}}</p>
		<h5 id="tanggal">{{data.created_date}}</h5>
		<form id="form" method="POST" action="{% url 'menanggapi:tambah_tanggapan' %}">
			{% csrf_token %}
			{{ CommentForm }}
			<br>
            <button type="Post" class="btn btn-default">Post</button>
        </form>
		<hr>
	{%endfor%}
	</body>
</div>
{% endblock %}
