{% load staticfiles %}
{% load static %}

<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fitur2.css' %}" />    

    <script type="text/javascript" src="{% static 'js/fitur2.js' %}"></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key: 81q5awfazmzhge
      authorize: true
      onLoad: onLinkedInLoad
    </script>
    <title>Profile Perusahaan</title>
  </head>
  <body>
    <section style="height: auto;">
      <header class="masthead">
        <div class="overlay">
          <div class="container">
            <h1 class="display-1 text-white">WELCOME {{ name }} </h1>
            <img class="img-responsive center-block" src=http://cliparting.com/wp-content/uploads/2016/11/Small-office-building-clipart-kid.jpg width="300" height="300">
            <a href="#" class="head-button"><center>Lihat Forum</center></a>
            <a href="#" class="head-button"><center>Cari Mahasiswa</center></a>
          </div>
        </div>
      </header>

      <div class="container" style="margin-top: 4%;" id="about-company-section">
        <div class="row">
          <div class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto">
            <h2 id="title-about">About Company:</h2>
            <div id="about"></div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-4 col-sm-4 col-4" id="judul-about">
                <h5 id="about-company">Tipe Perusahaan</h5>
                <h5 id="about-company">Web Perusahaan</h5>
                <h5 id="about-company">Spesialitas</h5>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-4 col-8">
                <h5 id="companyType"> {{ type }}</h5>
                <h5 id="companyWeb"> google.com</h5>
                <!-- : <a href="https://{{companyWeb}}">{{companyWeb}}<a> -->
                <h5 id="companySpecialty">Web Berbasis Zakat</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>