{% load staticfiles %}
{% load static %}

<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="//platform.linkedin.com/in.js">
		api_key: 81q5awfazmzhge
		authorize: true
		onLoad: onLinkedInLoad
	</script>

	<script type="text/javascript">
		function companyLogin(company) {
			window.location.href = "/company/" + company.id + "/";
		}
	</script>
	
	<script src="{% static 'js/dashboard.js' %}"></script>

</head>

<title>BukaLaptop</title>

<header>
</header>

<div style="text-align: center; background-color: white">
	<h1 style="font-family: 'Shadows Into Light', cursive; color: #31708f;">
		Cari Kerja ?
		<br>
		BukaLaptop aja
		<br>
		#GaNganggur
	</h1>

	<br>

	<script type="in/Login"></script> <br>
</div>